#BaselineAddImage {
width: 100px;
height: 100px;
cursor: pointer;
object-fit: contain;

}
.Box {
 margin-top: 20px;
 border: 2px solid black;
 border-style: dashed;
 border-color: rgba(217, 217, 217, 1);
}

.AdicionarHome {
  color: rgb(85, 26, 139)
}
