.Introducao {
  display: flex;
  border: 1px solid red ;
  width:80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: baseline;
  
}
.ConteudoTotal {
  display: flex;
  border: 1px solid blueviolet;
  width: 80%;
  margin:0 auto;
  justify-content: space-between;
}
.ConteudoTotal .E{
  border : 1px solid #b2b2b2;
  width : 50%;
  border-radius: 8px;
  
  }

