body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


 img {
  width: 300px;
 
}
.viptech {
  
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

  .Colors {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
  }
  .Linha-um {
    display: flex;
    justify-content: space-between;
   margin-top: 16px;
    padding: 16px ;
  }

  .Produtos {
   text-align: left;
   margin: 0%;
  }

  .EstiloBotao {
    
  }
 